body {
  font-family: 'Poppins', sans-serif;
  /*font-family: 'Days One', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Hind', sans-serif;
  font-family: 'Sarpanch', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Raleway', sans-serif;
  background-color: white;*/
  background: url('https://i.ibb.co/SKBDBrn/Smarter-Safer-Choices-Microsite-Assets-Homescreen-background.png');
  /*background-color: white;*/
  background-size: cover;
  background-repeat: repeat;
  color: #232323;
  margin: 8px 4px 0 4px;
}

@media (max-width: 1024px) {
  body {
    background-repeat: no-repeat;
  }
}

.firstcon {
  padding: 0 12% 2% 12%;
}

@media (max-width: 1024px) {
  .firstcon {
    padding: 2% 10% 2% 10%;
  }
}

.headerlogo {
  width: 200px;
}

@media (max-width: 1024px) {
  .headerlogo {
    width: 140px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

.takequizbtn {
  width: 310px;
}

@media (max-width: 1024px) {
  .takequizbtn {
    width: 200px;
  }
}

.homeimage {
  width: 480px;
}

@media (max-width: 1024px) {
  .homeimage {
    width: 240px;
  }
}

h1 {
  font-size: 24px;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 16px;
  }
}

p {
  font-size: 15px;
  padding-top: 1%;
}

@media (max-width: 1024px) {
  p {
    font-size: 14px;
  }
}

li {
  padding-top: 5px;
  text-align: left;
}

 ul {
   text-align: left;
 }

.btn-sm {
  background-color: #34d058;
  color: white;
}

.footer {
  display: inline-block;
  text-align: left;
  padding-bottom: 0;
  margin-bottom: 0;
  position: fixed;
  color: black;
  background-color: white;
}

@media (max-width: 1024px) {
  .footer {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    position: fixed;
    color: black;
    background-color: #34d186;
    padding: 5% 0;
  }
}

.footerbtns {
  text-align: right;
  float: right;
  margin-right: 5%;
  margin-top: 4px;
  padding: 1% 0;
}

@media (max-width: 1024px) {
  .footerbtns {
    text-align: center;
    float: none;
    margin-bottom: 4%;
    margin: 0;
  }
}

.footertext {
  font-size: 18px;
  float: left;
  margin-left: 5%;
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .footertext {
    display:inline-block;
    width: 240px;
    float: none;
    margin: 0 0;
  }
}
